*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/image.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
h1{
    color: white;
    font-size: 5rem;
    font-family: HelveticaNowDisplay;
    letter-spacing: 0.5rem;
    text-transform: uppercase; 
    position: relative;
}
h1::before{
    content: "l'oreal";
    width: 100%;
    color: #ED5D66;
    position: absolute;
    left: 0;
    top: 0;
    animation: anim 10s linear 1 ;
    overflow: hidden;
}
.center .num{
    position: absolute;
    top: 60%;
    left: 50%;  
    transform: translate(-50%,-50%); 
    font-size: 2rem;
    /* color: #ED5D66; */
    color:white;
    font-family: Roboto;
    font-weight: bold;
}
@keyframes anim {
    0%{
        width:0%;
        color: violet;
    }
    100%{
        width:100%;
        color: #ED5D66;
    }
}